[Desktop Entry]
Version=1.0
Name=SetTimeZone
Comment=Set the timezone in Arch Linux
Exec=settimezone
Terminal=false
Icon=settimezone
Type=Application
Categories=Utilities;
